# Depot location
ARIBA_DEPOT_PATH={{ ariba_root }}/Depot
# Ariba CD image, (see ariba.dw.install.CdimageFieldValidator)
ARIBA_INSTALLER_PATH={{ aes_inst_upstream }}/Disk1/InstData
# Run udt - false, (see ariba.dw.install.UdtFieldValidator)
USER_INPUT_RESULT_2=0
